.letter-text {
  &__card {
    &-image {
      width: 200px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__letter {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-in-out;

    opacity: 1;

    &.hidden {
      pointer-events: none;

      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    & > img {
      cursor: pointer;

      height: 860px;
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    }
  }
}
