@use "@/shared/styles/colors.scss" as *;

.letter-text {
  &__card {
    &-image {
      width: 200px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__letter {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-in-out;

    opacity: 1;

    &.hidden {
      pointer-events: none;

      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    & > * {
      &:nth-child(1) {
        cursor: pointer;

        position: relative;
        z-index: 1;

        height: 860px;

        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
      }

      &:nth-child(2) {
        cursor: pointer;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;

        transform: translate(50%, 60%) rotate(15deg);
        transition: transform 0.1s ease-in-out;

        height: 400px;

        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);

        &:hover {
          z-index: 2;
          transform: translate(50%, 60%) rotate(0);
        }
      }

      &:nth-child(3) {
        position: absolute;
        top: 20%;
        right: -40%;
        z-index: 3;
        height: 100px;

        transform: scale(-1, 1);
      }
    }
  }
}
