@use "@/shared/styles/colors.scss" as *;

.app {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);

  background: url("@/shared/assets/images/bg.jpeg") no-repeat;
}
